* {box-sizing: border-box;
  text-align: center;
  
}

body{
    margin: 0 auto;
    width: 960px;
   
    
}

#container{
    background:#ffffff;
    border: 1px solid #cccccc;
    width: 960px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

#header{
    background-color:#4aaaa5;
    border:1px solid #cccccc;
    color:#ffffff; 
    font-size:36px; 
    width:480px;
    float:left;
    Height:78px;
    padding: 20px;

}
    
#navbar{
    width: 480px;
    clear:both;
    height:249px;
    font-size:18px;

}

#navbar ul{
    margin:0;
    padding:0;
    list-style-type:none;

}

#navbar ul li{
    float: right;
    padding-bottom: 20px;
    color:#4aaaa5;
    width: 480PX;
    clear:both;
    display:block;

}
    
#content{
    background:#ffffff;
    border:#dddddd;
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

#conheader{
    color:#4aaaa5;
    width: 100%;

}

#image{
    float:left;
    padding: 15px;
    margin: 10px;

}

.p{
    text-align: left;
    padding: 25px;
    margin:0px;
    

}

#footer{
    background: #666666;
    width: 100%;
}

    


